body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.profile-image {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

h1 {
    color: rgb(255, 255, 255);
}

h3 {
    color:aquamarine
}

.social-links {
    margin-top: 20px;
}

.social-button {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    background-color: #4a4f54; /* Change this color */
    padding: 8px 16px;
    border-radius: 5px;
}
